// *************************
// Override datatable styles
// *************************

.theme--light
  .v-data-table {
    line-height: 1.5em;

    thead
      tr{
        background-color: $falkonry-grey-medium;
      }
      tr:first-child{
        border-bottom: none;
      }
      .v-data-footer {
        font-size: 1.2rem;
        background-color: $falkonry-grey-medium;
      }
      .v-data-table__progress {
        // This was done so that we can access progress bar of table in e2e tests
        height: 1px !important;
      }

  //   tbody
  //     tr
  //       td {
  //         height: 32px;
  //       }
  }
/* Workaround for  this issue- https://github.com/vuetifyjs/vuetify/issues/10164#issuecomment-601642148 */
  .v-data-table-header th {
    white-space: nowrap;
  }